@page "/Funcionarios"
@model FrontPetConecta.Pages.Funcionario.FuncionariosModel;

<h3 class="mt-5">Nossos funcionarios</h3>


<div>
    <table class="p-5">
        <thead>
            <tr>
                <th>Código do Funcionario</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Data de Admissão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var funcionarioModel in Model.FuncionarioList)
            {
                <tr>
                    <td>@Html.DisplayTextFor(model => funcionarioModel.IdFuncionario)</td>
                    <td>@Html.DisplayTextFor(model => funcionarioModel.NomeFuncionario)</td>
                    <td>@Html.DisplayTextFor(model => funcionarioModel.CargoFuncionario)</td>
                    <td>@Html.DisplayTextFor(model => funcionarioModel.DataAdmissao)</td>
                    <td class="borderNone">
                        <a asp-page="Edit" asp-route-id="@funcionarioModel.IdFuncionario" class="btn-edit">Alterar</a>
                        <a asp-page="Details" asp-route-id="@funcionarioModel.IdFuncionario" class="btn-details">Visualizar</a>
                        <a asp-page="Delete" asp-route-id="@funcionarioModel.IdFuncionario" class="btn-delete">Remover</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="mt-3">
        <a asp-page="/Funcionarios/Create" class="btn-create">+ Adicionar</a>

    </div>

</div>
