@page
@model FrontPetConecta.Pages.Produtos.DeleteModel
@{
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">

            <div class="formEdit">
                <h3 class="">Deseja apagar esse Produto?</h3>

                <div class="mt-3">
                    <p><strong>ID: </strong>@Model.ProdutoModel.ProdutoId</p>
                    <p><strong>Nome: </strong>@Model.ProdutoModel.Nome</p>
                    <p><strong>Descrição: </strong>@Model.ProdutoModel.Descricao</p>
                    <p><strong>Preço: </strong>@Model.ProdutoModel.Preco</p>
                    <p><strong>Quantidade Vendida: </strong>@Model.ProdutoModel.QuantidadeVendida</p>
                    <p><strong>Quantidade em Estoque: </strong>@Model.ProdutoModel.QuantidadeEmEstoque</p>

                </div>

                <div class="mt-4">
                    <form method="post">
                        <div class="form-group">
                            <input type="submit" value="Apagar" class="btn btn-create" />
                            <a asp-page="Produtos" class="btn btn-delete">Retornar para a listagem</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>